* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

/** DESKTOP DESIGN */

body {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 50px 20px;
  min-height: 100vh;
}

.article-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 750px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.article-card__image {
  flex: 0 1 300px;
  width: 300px;
}

.article-card__image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.article-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  gap: 10px;
}

.article-card__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.article-card__text {
  font-size: 0.9rem;
  color: hsl(217, 19%, 35%);
}

.article-card__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.article-card__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.article-card__user-avatar {
  width: 40px;
  border-radius: 50%;
}

.article-card__user-name {
  font-size: 0.8rem;
  font-weight: 700;
}

.article-card__user-date {
  font-size: 0.7rem;
  color: hsl(217, 19%, 35%);
}

.article-card__share {
  position: relative;
}

.article-card__share-btn {
  border: none;
  border-radius: 50%;
  background-color: hsl(210, 74%, 93%);
  width: 25px;
  height: 25px;
  padding: 3px 3px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.15s;
}

.article-card__share-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.article-card__share-btn:hover {
  background-color: hsl(214, 17%, 51%);
}

.article-card__share-btn:hover .article-card__share-icon {
  filter: brightness(0) invert(1);
}

.article-card__share-btn:active {
  opacity: 0.8;
}

.article-card__share-popup {
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  bottom: 40px;
  right: -97px;
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 12px 30px;
  border-radius: 6px;
}

.article-card__share-popup::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid hsl(217, 19%, 35%);
}

.article-card__share-label {
  margin-right: 10px;
  font-size: 0.7rem;
  font-weight: 200;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.article-card__share-popup a {
  width: 20px;
  height: 20px;
}

.article-card__share-popup a img {
  display: block;
  width: 95%;
  height: 95%;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.article-card__share-popup a:hover img {
  transform: scale(1.15);
  opacity: 0.9;
}

.article-card__share-popup--active {
  display: flex;
}

.attribution {
  margin-top: 20px;
  text-align: center;
  font-size: 0.7rem;
}

/** MOBILE DESIGN */

@media (max-width: 650px) {
  .article-card {
    flex-direction: column;
    max-width: 350px;
  }

  .article-card__image {
    width: 100%;
    max-width: none;
    flex: unset;
  }

  .article-card__image-img {
    height: 200px;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }

  .article-card__content {
    padding: 30px 30px 15px;
    justify-content: space-around;
  }

  .article-card__title {
    font-size: 1rem;
  }

  .article-card__text {
    font-size: 0.9rem;
  }

  .article-card__user {
    margin-top: 15px;
  }

  .article-card__share-popup {
    padding: 8px 12px;
    gap: 4px;
    right: -50px;
    bottom: 40px;
  }

  .article-card__share-label {
    margin-right: 5px;
    font-size: 0.6rem;
  }

  .article-card__share-popup a {
    width: 15px;
    height: 15px;
  }
}
